body {
    >header {
        border-bottom: 2px solid darkgrey;
        >nav {
            >img {
                height: 60px;
            }
            /* #logo-title{
                font-size: 28px;
            } */
        }
    }
}