body {
    main {
        //SECTION CONTACTS
        #contacts {
            >div{
                #input_contacts {
                    width: 30%;
                }
            }
            //TABLE
            >table {
                >thead {
                    >tr{
                        >th{
                            >input{
                                &:checked {
                                    width: 80px;
                                }  
                            }
                        }
                                              
                    }
                }
            }
            //PAGINATION
            #pagination {
                >ul{
                    >li{
                        >a {
                                &:active{
                                background-color: #17a2b8;
                                color: white;
                                &:visited{
                                    background-color: #17a2b8;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}