//Active modification for dropdown
.dropdown-item.active, .dropdown-item:active{
    background-color: var(--info)!important;
}
body {
    main {
        //SECTIONS GENETAL
        section{
            padding-top: 8vh;
        }
        #section_login {
            padding-top: unset;
        }
        //////////////////////SECTION CONTACTS//////////////////////
        #contacts {
            >div{
                #input_contacts {
                    width: 30%;
                }
            }
            //TABLE
            >#table_contacts_wrapper{
                //BEFORE TABLE
                >div{
                    >div{
                        #table_contacts_filter{
                            >label{
                                #input_bar:focus {
                                    box-shadow: 0 1px 0 0 var(--info);                                    
                                }
                            }
                        }
                    }
                    >div{
                        #table_contacts_length{
                            >label{
                                margin-left: 1rem * 3;
                                margin-top: 1rem * 0.2;
                                >select{
                                    box-shadow: 0 1px 0 0 var(--info);
                                }
                            }
                        }
                    }
                }
                //INSIDE TABLE
                >div{
                    >div{                           
                        >#table_contacts{
                            /* thead{
                                tr{
                                    th{
                                        #select_all{
                                            border: 1px solid black !important;
                                            border-radius: 3px !important;
                                        }
                                    }
                                }
                            } */
                            .odd{
                                .dataTables_empty{
                                    display: none;
                                }
                            }          
                            .odd.selected{
                                background-color: grey;
                            }
                            .even.selected{
                                background-color: grey;
                            }
                            >tbody{
                                >tr{
                                    >td:first-child{
                                        display: flex;
                                        height: 40px;
                                        
                                    }
                                    >.select-checkbox::before{
                                        margin-top: 10px;   
                                    }
                                    >.select-checkbox::after{
                                        margin-top: 0px; 
                                        margin-left: -5px; 
                                        }
                                }
                            }
                        }
                                                
                    }
                }
                //AFTER TABLE
                >div{
                    position: relative;
                    z-index: 1;
                    >div{
                        #table_contacts_paginate{
                            >ul{
                                >li>a{
                                    color: #212529;
                                }
                                >li.active{
                                    a{
                                        background-color: var(--info)!important;
                                        border: var(--info);
                                        color: honeydew;
                                    }
                                }
                                >li.disabled>a{
                                    color: grey;
                                }
                            }
                        }
                    }
                }                
            }
            >button{
                position: relative;
                margin-top: -2.2rem;
                z-index: 5;
            }
        }
        //OTRA SECCION PARA PRUEBAS
        #companies{
            .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
                border-bottom: 1px solid #4dd0e1;
                box-shadow: 0 1px 0 0 #4dd0e1;
              }
              .active-cyan input.form-control[type=text] {
                border-bottom: 1px solid #4dd0e1;
                box-shadow: 0 1px 0 0 #4dd0e1;
              }
        }
        //////////////////////SECTION REGION/CITY - LOCATIONS//////////////////////
        #location{
            //JSTree setup Region/Ciudad
            #location_tree ul li a{
                font-size: 18px;
            }
            #location_tree ul li{
                margin: 5px 0;
            }

        }
        //////////////////////SECTION MODALS//////////////////////
        #modals{
            //Hide arrows from input type number
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                appearance: none;
            }
            #add_contact{
                div{
                    div{
                        .modal-body{
                            background-image: url(../assets/person-plus.svg);
                            background-position: right;
                            background-repeat: no-repeat;
                            background-size: 60%;
                        }
                    }
                }
            }
            #modal_add_company{
                div{
                    div{
                        .modal-body{
                            background-image: url(../assets/building.svg);
                            background-position: right;
                            background-repeat: no-repeat;
                            background-size: 16%;
                        }
                    }
                }
            }
            #modal_location_add{
                div{
                    div{
                        .modal-body{
                            background-image: url(../assets/geo-alt-fill.svg);
                            background-position: right;
                            background-repeat: no-repeat;
                            background-size: 16%;
                        }
                    }
                }
            }
            #modal_user_add{
                div{
                    div{
                        .modal-body{
                            background-image: url(../assets/person-lines-fill.svg);
                            background-position: 95% 50%;
                            background-repeat: no-repeat;
                            background-size: 25%;
                        }
                    }
                }
            }
        }
        
    }
}