body {
    main {
        //SECTION CONTACTS
        #contacts {
            >div{
                #input_contacts {
                    width: 30%;
                }
            }
            //TABLE
            >#table_contacts_wrapper{
                //BEFORE TABLE
                >div{
                    >div{
                        #table_contacts_filter{
                            >label{
                                #input_bar:focus {
                                    box-shadow: 0 1px 0 0 var(--info);
                                }
                            }
                        }
                    }
                }
                //INSIDE TABLE
                >div{
                    >div{
                        >table {                            
                            >#table_contacts{
                                .odd{
                                    .dataTables_empty{
                                        display: none;
                                    }
                                }          
                                .odd.selected{
                                    background-color: grey;
                                }
                                .even.selected{
                                    background-color: grey;
                                }
                                >tr{
                                    >td:first-child{
                                        display: flex;
                                        height: 40px;
                                        
                                    }
                                    >.select-checkbox::before{
                                     margin-top: 10px;   
                                    }
                                    >.select-checkbox::after{
                                        margin-top: 0px; 
                                        margin-left: -5px; 
                                       }
                                }
                            }
                        }                        
                    }
                }
                //AFTER TABLE
                >div{
                    >div{
                        #table_contacts_paginate{
                            >ul{
                                >li>a{
                                    color: #212529;
                                }
                                >li.active{
                                    a{
                                        background-color: var(--info)!important;
                                        border: var(--info);
                                        color: honeydew;
                                    }
                                }
                                >li.disabled>a{
                                    color: grey;
                                }
                            }
                        }
                    }
                }
            }
        }
        //OTRA SECCION
        #companies{
            .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
                border-bottom: 1px solid #4dd0e1;
                box-shadow: 0 1px 0 0 #4dd0e1;
              }
              .active-cyan input.form-control[type=text] {
                border-bottom: 1px solid #4dd0e1;
                box-shadow: 0 1px 0 0 #4dd0e1;
              }
        }
        
    }
}