* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

body #section-login {
  z-index: 2;
}

body #section-login > div {
  border: 1px solid black;
  border-radius: 25px;
  width: 50vw;
}

body #section-login > div > form > img {
  width: 10vw;
}

body #section-login > div > form #label1_signin {
  width: 80%;
}

body #section-login > div > form #label2_signin {
  width: 80%;
}

body #section-login > div > form > div {
  width: 80%;
}

body > header {
  border-bottom: 2px solid darkgrey;
}

body > header > nav {
  /* #logo-title{
                font-size: 28px;
            } */
}

body > header > nav > img {
  height: 60px;
}

body main #contacts > div #input_contacts {
  width: 30%;
}

body main #contacts > #table_contacts_wrapper > div > div #table_contacts_filter > label #input_bar:focus {
  -webkit-box-shadow: 0 1px 0 0 var(--info);
          box-shadow: 0 1px 0 0 var(--info);
}

body main #contacts > #table_contacts_wrapper > div > div #table_contacts_length > label {
  margin-left: 3rem;
  margin-top: 0.2rem;
}

body main #contacts > #table_contacts_wrapper > div > div #table_contacts_length > label > select {
  -webkit-box-shadow: 0 1px 0 0 var(--info);
          box-shadow: 0 1px 0 0 var(--info);
}

body main #contacts > #table_contacts_wrapper > div > div > table > #table_contacts .odd .dataTables_empty {
  display: none;
}

body main #contacts > #table_contacts_wrapper > div > div > table > #table_contacts .odd.selected {
  background-color: grey;
}

body main #contacts > #table_contacts_wrapper > div > div > table > #table_contacts .even.selected {
  background-color: grey;
}

body main #contacts > #table_contacts_wrapper > div > div > table > #table_contacts > tr > td:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

body main #contacts > #table_contacts_wrapper > div > div > table > #table_contacts > tr > .select-checkbox::before {
  margin-top: 10px;
}

body main #contacts > #table_contacts_wrapper > div > div > table > #table_contacts > tr > .select-checkbox::after {
  margin-top: 0px;
  margin-left: -5px;
}

body main #contacts > #table_contacts_wrapper > div {
  position: relative;
  z-index: 1;
}

body main #contacts > #table_contacts_wrapper > div > div #table_contacts_paginate > ul > li > a {
  color: #212529;
}

body main #contacts > #table_contacts_wrapper > div > div #table_contacts_paginate > ul > li.active a {
  background-color: var(--info) !important;
  border: var(--info);
  color: honeydew;
}

body main #contacts > #table_contacts_wrapper > div > div #table_contacts_paginate > ul > li.disabled > a {
  color: grey;
}

body main #contacts > button {
  position: relative;
  margin-top: -2.2rem;
  z-index: 5;
}

body main #companies .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  -webkit-box-shadow: 0 1px 0 0 #4dd0e1;
          box-shadow: 0 1px 0 0 #4dd0e1;
}

body main #companies .active-cyan input.form-control[type=text] {
  border-bottom: 1px solid #4dd0e1;
  -webkit-box-shadow: 0 1px 0 0 #4dd0e1;
          box-shadow: 0 1px 0 0 #4dd0e1;
}

body main #modals #add_contact div div .modal-body {
  background-image: url(../assets/person-plus.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
}

body main #modals #modal_add_company div div .modal-body {
  background-image: url(../assets/building.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 16%;
}
/*# sourceMappingURL=style.css.map */